In [11]:
import pandas as mypd

In [35]:
import os
os.chdir("C:/")

In [47]:
myData=mypd.read_csv('Complaint_Response_Time1.csv')

In [48]:
myData

    Response_Time
0              24
1              31
2              29
3              26
4              28
5              26
6              29
7              29
8              27
9              31
10             25
11             29
12             29
13             25
14             26
15             26
16             27
17             24
18             23
19             27
20             28
21             27
22             23
23             27
24             23
25             25
26             27
27             26
28             28
29             27

In [49]:
RT=myData.Response_Time

In [46]:
RT

0     24.0
1     31.0
2     29.0
3     26.0
4     28.0
5     26.0
6     29.0
7     29.0
8     27.0
9     31.0
10    25.0
11    29.0
12    29.0
13    25.0
14    26.0
15    26.0
16    27.0
17    24.0
18    23.0
19    27.0
20    28.0
21    27.0
22    23.0
23    27.0
24    23.0
25    25.0
26    27.0
27    26.0
28    28.0
29    27.0
30     NaN
31     NaN
Name: Response_Time, dtype: float64

In [43]:
from scipy import stats as myst

In [51]:
myst.ttest_1samp(RT,24)

Ttest_1sampResult(statistic=6.916649423974787, pvalue=1.3350896696104558e-07)

In [52]:
RT.mean()

26.733333333333334